{
  "extends": "@react-native-community",
  "plugins": ["react", "prettier"],
  "rules": {
    "quotes": [2, "single", { "avoidEscape": true }],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      },
      "warn",
      { "printWidth": 120 }
    ],
    "comma-dangle": [
      "off",
      {
        "arrays": "never",
        "objects": "never",
        "imports": "never",
        "exports": "never",
        "functions": "never"
      }
    ]
  }
}
