{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxBracketSameLine": true,
  "endOfLine": "auto",
  "prettier/prettier": [
    "warn",
    {
      "singleQuote": true,
      "parser": "flow"
    }
  ]
}
